/* 
King Arthur: I am your king.
Woman: Well, I didn't vote for you.
King Arthur: You don't vote for kings.
Woman: Well how'd you become king then?
[Angelic music plays...]
King Arthur: The Lady of the Lake, her arm clad in the purest shimmering samite held 
  aloft Excalibur from the bosom of the water, signifying by divine providence that 
  I, Arthur, was to carry Excalibur. THAT is why I am your king.
Dennis: [interrupting] Listen, strange women lyin' in ponds distributin' swords is 
  no basis for a system of government. Supreme executive power derives from a mandate 
  from the masses, not from some farcical aquatic ceremony.
*/

html {
/*   background: #369; */
  background: black;
}
/* 366 */
body {
  margin: 0% 15% 0px 15%;
  background: #366;
  padding: 1% 5% 5% 5%;
}
code {
  font-size: 20px;
}

pre {
  font-size: 20px;
}

.navbar {
  padding: 1% 2% 1% 2%;
  background: #a2d5ab;
  /* border: black; */
  border-radius:25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  margin: 2% 0% 2% 0%;
/*   padding: 1% 1% 1% 1%; */
  font-size: 20px;
}

a {
  color: black;
  font-size: 25px;
  text-decoration: none;
/*   padding: 20px; */
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.navbar {
  display: inline;
  margin: 0, 25%, 0, 25%;
  padding: 20px;
/*   float: right;
 */
}

#intro {
  padding: 1% 2% 1% 2%;
  background: #0a4a48;
  border: black;
  border-radius:25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#brandRow2 {

}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand - from W3 Schools
    https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
*/

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* YouTube */
.fa-youtube-play {
  background: red;
  color: white;
}
